{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-12">
        <h3>{{ seller['name'] }}</h3>
        <hr>
        <div class="row">
            <div class="col">
                <p>OIB: {{ seller['oib'] }}</p>
                <p>Broj krivih cijena: {{ seller['num_wrong_prices'] }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h5>Komentari administratora</h5>
                {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.name }} {{ comment.surname }}</h5>
                        <p class="card-text">{{ comment.comment }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if session['account_type'] == 'admin' %}
    <div class="col-lg-6 col-md-12">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{form.comment.label(text="Komentiranje")}}
                {{form.comment(class="form-control")}}
            </div>
            <button type="submit" class="btn btn-primary float-right" title="Pošalji komentar">
                <span class="oi oi-comment-square"></span>
            </button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}