{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>
            {% if not (privacy.name or privacy.surname) %}
            Anonimni korisnik
            {% else %}
            {% if privacy.name %}
            {{ user.name }}
            {% endif %}
            {% if privacy.surname %}
            {{ user.surname }}
            {% endif %}
            {% endif %}
        </h3>
        <hr>
        {% if privacy.email %}
        <p>Email: {{ user.email }}</p>
        {% endif %}
    </div>
</div>
{% if session['account_type'] == 'user' and session['id'] == user.id %}
<div class="row">
    <div class="col">
        <h5>Uređivanje privatnosti</h5>
        <form method="POST" action={{ url_for('accounts.update_privacy_settings') }}>
            {{ form.csrf_token }}
            <input type="hidden" name="user_id" value={{ user.id }}>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    {{ form.name(class="custom-control-input") }}
                    {{ form.name.label(class="custom-control-label", text="Ime") }}
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    {{ form.surname(class="custom-control-input") }}
                    {{ form.surname.label(class="custom-control-label", text="Prezime") }}
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    {{ form.email(class="custom-control-input") }}
                    {{ form.email.label(class="custom-control-label", text="Email") }}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Izmijeni">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}