{% extends "base.html" %}
{% block content %}

{% if session['account_type'] == 'seller' and in_edit == True %}
<a href={{ url_for('products.new') }} class="btn btn-primary" role="button">
    Dodaj novi
</a>
{% endif %}

<hr>

{% include 'components/search_bar.html' %}

{% include "products/product_listing.html" %}
{% endblock %}

{% block scripts %}
<script>
    function deleteProduct() {
        let productID = document.getElementById("deleteWithID").value;
        let row = document.getElementById(productID);

        if (row == null) {
            alert('Invalid ID');
            return;
        }

        let xhr = new XMLHttpRequest()
        let CSRFToken = "{{ csrf_token() }}";
        let url = '{{ url_for('products.editor', product_id="") }}' + productID;

        xhr.open('DELETE', url, true);
        xhr.setRequestHeader("X-CSRFToken", CSRFToken);
        xhr.send(null);

        row.parentNode.removeChild(row);
    }
</script>
{% endblock %}