{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <form action={{ url_for('products.new') }} method="POST" class="col-lg-6" novalidate>
        {{ form.csrf_token }}
        <div class="custom-control custom-checkbox mb-3" onchange="toggleProductSelection()">
            {{ field_with_check(form.use_existing, class="custom-control-input") }}
            {{ form.use_existing.label(class="custom-control-label") }}
        </div>
        <div class="form-group" id="name_field">
            {{ form.name.label }}
            {{ field_with_check(form.name) }}
        </div>
        <div class="form-group" id="existing_product_selection">
            {{ form.existing_product.label }}
            {{ field_with_check(form.existing_product) }}
        </div>
        <div class="form-group">
            {{ form.price.label }}
            {{ field_with_check(form.price) }}
        </div>
        <input type="submit" class="btn btn-primary" value="Dodaj">
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    let sel = $('#existing_product_selection');
    let cb = $('#use_existing');
    let nf = $('#name_field');
    toggleProductSelection();

    function toggleProductSelection() {
        if (cb.is(':checked')) {
            nf.hide();
            sel.show();
        } else {
            nf.show();
            sel.hide();
        }
    }
</script>
{% endblock %}