{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h4>Predložak</h4>
        <a href={{ url_for('products.price_change_template') }} class="btn btn-primary">Preuzmi predložak</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h4>Promjena cijene</h4>
        <form class="form-inline" method="POST" enctype="multipart/form-data"
            action={{ url_for('products.price_change') }}>

            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.file }}
            </div>

            <button type="submit" class="btn btn-primary">Prenesi</button>
        </form>
    </div>
</div>
{% endblock %}