{# TODO: Edit div wrapper after further implemented functionality #}

<div class="row justify-content-center mt-3">

    <table class="table mt-3 mx-3">
        <thead class="thead-light">
            <tr>
                {% if session['account_type'] == 'seller' and in_edit %}
                <th>ID</th>
                {% endif %}

                <th>Naziv</th>

                <th>Cijena</th>

                <th class="text-center" style="width: 45%">Oznake</th>

                {% if session['account_type'] == 'seller' and in_edit %}
                <th></th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                {% if session['account_type'] == 'seller' and in_edit %}
                <td>{{ product.id }}</td>
                {% endif %}

                <td>
                    <a href="{{ url_for('products.view', product_id=product['product_id']) }}"
                        class="">{{ product['product_name'] }}</a>
                </td>

                <td>{{ product['price'] / 100 }}</td>

                <td class="text-center">
                    {% for tag in top_tags[ product['product_id'] ] %}
                    <span class="badge badge-info mx-2"> #{{ tag['tag_name'] }} </span>
                    {% endfor %}
                </td>

                {% if session['account_type'] == 'seller' and in_edit %}
                <td>
                    <form method="POST" action={{ url_for("products.delete_product") }}>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="product_id" value={{ product['product_id'] }} />
                        <button type="submit" class="btn btn-primary btn-danger btn-sm">
                            <span class="oi oi-x" title="Obriši"></span>
                        </button>
                    </form>
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>