{% extends "base.html" %}

{% block content %}
<div class="row justify-content-around">
    <form class="col-md-6" action={{ url_for('products.report_price') }} method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <input type="hidden" name="product_id" value={{ product_id }}>

        <input type="hidden" name="seller_id" value={{ seller_id }}>

        <div class="form-group">
            <label>Dokaz u obliku slike</label>
            <br>
            {{ field_with_check(form.proof, class="") }}
        </div>
        <div class=" form-group">
            {{ form.new_price.label(text="Nova cijena") }}
            {{ field_with_check(form.new_price) }}
        </div>

        <input type="submit" class="btn btn-primary" value="Prijavi">
    </form>
</div> {% endblock %}