<div class="row justify-content-center mt-3">
    <table class="col table mt-3 mx-3">
        <thead class="thead-light">
            <tr>
                <th>Naziv</th>

                <th>Cijena</th>

                <th></th>

            </tr>
        </thead>
        <tbody>
            {% for seller in sellers %}
            <tr>
                <td>
                    <a href="{{ url_for('accounts.seller_profile', seller_id=seller['seller_id']) }}"
                        class="">{{ seller['seller_name'] }}</a>
                </td>


                <td>{{ seller['price'] / 100 }}</td>

                <td>
                    {% if session['account_type'] == 'user' %}
                    <a class="btn btn-warning btn-sm"
                        href={{ url_for('products.report_price', product_id=product_data.product_id, seller_id=seller.seller_id) }}>
                        <span class="oi oi-flag" title="Prijavi krivu cijenu"></span>
                    </a>
                    {% endif %}
                    <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#priceChangeModal"
                        onclick="showData({{product_data.product_id}}, {{seller.seller_id}})">
                        <span class="oi oi-graph" title="Pregled promjena cijene"></span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="priceChangeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Promjena cijene</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="chart-container" style="position: relative; height: 100%; width: 100%">
                    <canvas id="graph"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let ctx = $('#graph');

    function showData(product_id, seller_id) {
        fetch(`/products/price_history?seller_id=${seller_id}&product_id=${product_id}`)
            .then(resp => resp.json())
            .then(data => {
                let chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data['dates'].map(obj => new Date(obj).toLocaleDateString()),
                        datasets: [{
                            label: 'Proizvod',
                            borderColor: 'rgba(0,0,0,0.5)',
                            fill: false,
                            data: data['prices']
                        }]
                    }
                });
            })
    }
</script>