<div class="card-body justify-content">
    <h5 class="card-title">Format oznake:</h5>

    <ul class="list-group card-text" style="list-style-type: none;">
        <li class="list-group-item">ljestve `#` popraćene malim i velikim slovima
            engleske abecede te znamkenkama 0-9
        </li>
        <li class=""><br></li>
        <li class="list-group-item">moguće je predložiti maksimlano 5 oznaka</li>
    </ul>
</div>