{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">{{ product_data['product_name'] }}</h1>
<h6 class="ml-5">
    {% for tag in product_data['top_tags'] %}
    <span class="badge badge-info"> #{{ tag['tag_name'] }} </span>
    {% endfor %}
</h6>

{% include 'components/search_bar.html' %}

<hr>

{% if 'id' in session and session['account_type'] == '' %}
<div class="col-lg-auto float-right mt-3">
    <form class="row form-inline ml-3 mt-3" method="POST">
        {{ add_tag_form.csrf_token }}

        {{ add_tag_form.tag_select(class="custom-select col-sm-10") }}

        <div class="w-100"></div>

        {{ add_tag_form.submit(class="btn btn-info col-sm-10 mt-3") }}
    </form>
</div>

<div class="row form-inline">
    <div class="col-lg-auto m-3 card border-0 float-left">
        <div class="card-body justify-content">
            <h5 class="card-title">Predložene oznake</h5>

            <ul class="list-group list-group-flush card-text" style="list-style-type: none;" id="ulSuggestedTags">
                {% for tag_suggested in tags_suggested %}
                <li class="list-group-item" id="ts{{ tag_suggested['tag_suggestion_id'] }}">
                    <span class="form-inline">
                        <label>#{{ tag_suggested['tag_name'] }}</label>
                        <button class="col-sm btn btn-link float-right"
                            id="_ts{{ tag_suggested['tag_suggestion_id'] }}">
                            <span class="oi oi-x" style="color: #C70039"></span>
                        </button>
                    </span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endif %}

{% include 'products/seller_listing.html' %}

{% endblock %}

{% block scripts %}
<script>
    let list = document.getElementById("ulSuggestedTags");
    let listItems = list.getElementsByTagName("li");

    for (const li of listItems) {
        const btn = li.getElementsByTagName("button").item(0);
        btn.addEventListener("click", removeSuggestion);
    }

    function removeSuggestion(e) {
        let btnId = this.id;
        let tag_suggestion_id = btnId.substring(3);

        console.log(tag_suggestion_id);

        let xhr = new XMLHttpRequest()
        let CSRFToken = "{{ csrf_token() }}";
        let url = '{{ url_for('products.view', product_id=product_data['product_id'])}}';

        let data = JSON.stringify(
            {
                "opr": "rm_suggested_tag",
                "tag_suggestion_id": tag_suggestion_id
            }
        );

        console.log(data)

        xhr.open('DELETE', url, true);
        xhr.setRequestHeader("X-CSRFToken", CSRFToken);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(data);

        location.reload()
    }
</script>
{% endblock %}