{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Korisničko ime</th>
                    <th>Tip</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr {% if account.banned %} class="bg-danger" {% endif %}>
                    <td>{{ account.id }}</td>
                    <td>
                        {% if account.type == 'admin' %}
                        {{ account.username }}
                        {% else %}
                        {% if account.type == 'seller' %}
                        {% set url = url_for('accounts.seller_profile', seller_id=account.id) %}
                        {% else %}
                        {% set url = url_for('accounts.user_profile', user_id=account.id) %}
                        {% endif %}
                        <a href={{ url }}>
                            {{ account.username }}
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if account.type == 'admin' %}
                        administrator
                        {% elif account.type == 'seller' %}
                        trgovac
                        {% else %}
                        kupac
                        {% endif %}
                    </td>
                    <td>
                        <div class="row flex-nowrap">
                            {% if account.banned %}
                            <form method="POST" class="mr-1" action={{ url_for("admin.unban_account") }}>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="id" value={{ account.id }} />
                                <button type="submit" class="btn btn-light btn-sm">
                                    <span class="oi oi-ban" title="Odblokiraj"></span>
                                </button>
                            </form>
                            {% else %}
                            <form method="POST" class="mr-1" action={{ url_for("admin.ban_account") }}>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="id" value={{ account.id }} />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <span class="oi oi-ban" title="Blokiraj"></span>
                                </button>
                            </form>
                            {% endif %}

                            {% if account.type != 'seller' %}
                            {% if account.type == 'admin' %}
                            <form method="POST" action={{ url_for("admin.demote_account") }}>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="id" value={{ account.id }} />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <span class="oi oi-chevron-bottom" title="Makni status administratora"></span>
                                </button>
                            </form>
                            {% else %}
                            <form method="POST" action={{ url_for("admin.promote_account") }}>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="id" value={{ account.id }} />
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <span class="oi oi-chevron-top" title="Dodaj status administratora"></span>
                                </button>
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}