{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Proizvod</th>
                        <th>Trgovac</th>
                        <th>Dokaz</th>
                        <th>Trenutna cijena</th>
                        <th>Predložena cijena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for suggestion in suggestions %}
                    <tr class={% if suggestion.approved %} "bg-success"
                        {% elif suggestion.approved is not none %} "bg-danger" {% endif %}>
                        <td>
                            <a
                                href={{ url_for('products.view', product_id=suggestion.product_id) }}>{{ suggestion.product_name }}</a>
                        </td>
                        <td>
                            <a href={{ url_for('accounts.seller_profile') }}>{{ suggestion.seller_name }}</a>
                        </td>
                        <td>
                            <a href={{ url_for('admin.view_proof', id=suggestion.id) }}><span
                                    class="oi oi-external-link"></span></a>
                        </td>
                        <td>{{ suggestion.price / 100 }}</td>
                        <td>{{ suggestion.new_price / 100 }}</td>
                        <td>
                            <div class="row flex-nowrap">
                                {% if suggestion.approved is none %}
                                <form method="POST" class="mr-1" action={{ url_for("admin.accept_suggestion") }}>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="id" value={{ suggestion.id }} />
                                    <input type="hidden" name="seller_id" value={{ suggestion.seller_id }} />
                                    <button type="submit" class="btn btn-success btn-sm">
                                        <span class="oi oi-check" title="Odobri"></span>
                                    </button>
                                </form>
                                <form method="POST" class="mr-1" action={{ url_for("admin.deny_suggestion") }}>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="id" value={{ suggestion.id }} />
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <span class="oi oi-x" title="Odbij"></span>
                                    </button>
                                </form>
                                {% endif %}
                                <a href={{ url_for("admin.view_suggestion", id=suggestion.id) }}
                                    class="btn btn-primary btn-sm">
                                    <span class="oi oi-magnifying-glass"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}