{% extends "base.html" %}

{% block content %}
<h3>Prijedlog {{ suggestion.id }}</h3>
<h5>Status:
    {% if suggestion.approved is none %}
    <span>neobrađeno</span>
    {% elif suggestion.approved %}
    <span class="text-success">odobreno</span>
    {% else %}
    <span class="text-danger">odbijeno</span>
    {% endif %}
</h5>
<hr>
<p>
    Predložio/la:
    <a href={{ url_for('accounts.user_profile', id=suggestion.user_id) }}>
        {{ suggestion.user_name }} {{ suggestion.user_surname }}</a>
</p>
<p>
    Trgovina:
    <a href={{ url_for('accounts.seller_profile', id=suggestion.seller_id) }}>
        {{ suggestion.seller_name }}
    </a>
</p>
<p>
    Datum prijedloga: {{ suggestion.date_submitted }}
</p>
<p>
    Obradio:
    {% if suggestion.approved is not none %}
    <a href={{ url_for('accounts.user_profile', id=suggestion.completed_by) }}>
        {{ suggestion.admin_name }} {{ suggestion.admin_surname }}
    </a>
    {% endif %}
</p>
<p>
    Datum obrade:
    {% if suggestion.approved is not none %}
    {{ suggestion.date_completed }}
    {% endif %}
</p>
<p>
    Trenutna cijena: {{ suggestion.price / 100 }}
</p>
<p>
    Predložena cijena: {{ suggestion.new_price / 100 }}
</p>
<p>
    Dokaz: <a href={{ url_for('admin.view_proof', id=suggestion.id) }}><span class="oi oi-external-link"></span></a>
</p>
{% endblock %}