{% extends "base.html" %}

{% block content %}

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active mx-3" id="editTags" role="tabpanel" aria-labelledby="profile-tab">

            <div class="row">

                <div class="col-sm mt-3">
                    <div class="row">
                        {% include "products/tag_format_desc.html" %}
                    </div>

                    <div class="row form-inline mx-1">
                        <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="addTagByName"
                               placeholder="#oZn09... ">

                        <button type="submit" class="btn btn-success mb-2" onclick="addTag()">Dodaj</button>
                    </div>

                    {# TODO: Write DIV showing selected tag relation to site items #}
                </div>

                <div class="col-sm mt-3 overflow-auto rounded border" , style="height: 280px">
                    {# TODO: Make it a designated scroll panel #}
                    <ul class="list-group list-group-flush" id="tagsList">
                        {% for tag_count in tags_count %}
                            <li class="list-group-item" id="{{ tag_count['tag_name'] }}">
                                #{{ tag_count['tag_name'] }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>

        <div class="tab-pane fade active mx-3" id="editReports" role="tabpanel" aria-labelledby="home-tab">
            Reports
        </div>

        <div class="tab-pane fade mx-3" id="manageAccounts" role="tabpanel" aria-labelledby="contact-tab">Accounts</div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        {# TODO: Move into sepearte file #}

        function addTagToTagsList(tagName, count = 0) {
            let tagsList = document.getElementById("tagsList");
            let tagLi = document.createElement("li");

            tagLi.setAttribute("class", "list-group-item");
            tagLi.appendChild(document.createTextNode(tagName));

            tagsList.append(tagLi);
        }

        function isTagNameValid(tag_str) {
            let regex = /^#([a-z]|[A-Z]|[0-9])+$/gm;
            let match = tag_str.match(regex);

            if (match == null)
                return false;
            return true;
        }

        function addTag() {
            let tagName = document.getElementById("addTagByName").value

            if (!isTagNameValid(tagName)) {
                alert("Neispravan format oznake!");
                return;
            }

            const xhr = new XMLHttpRequest();
            const CSRFToken = "{{ csrf_token() }}";
            const url = '{{ url_for('admin.tag_manager_api', tag_name="") }}' + tagName.substring(1);

            xhr.onload = function() {
                if (this.status == 409)
                    alert('Oznaka već unesena');
                if (this.status == 202)
                    addTagToTagsList(tagName)
            }

            xhr.open("POST", url, true);
            xhr.setRequestHeader("X-CSRFToken", CSRFToken);
            xhr.send(null);

        }
    </script>
{% endblock %}