<li class="nav-item">
    <a class="nav-link" href={{ url_for("admin.price_change_manager") }}>Obrada prijava</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for("admin.tag_manager") }}">Upravljanje oznakama</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{ url_for("admin.account_manager") }}>Upravljanje korisnicima</a>
</li>