<li class="nav-item">
    <a class="nav-link" href={{ url_for('products.editor') }}>Uredi proizvode</a>
</li>
<li>
    <a class="nav-link" href={{ url_for('products.price_change' )}}>Promjeni cijene</a>
</li>