{% macro field_with_check(field, autocomplete="", class="form-control") -%}
{% if field.errors %}
{{ field(class=class + " is-invalid", autocomplete=autocomplete) }}
{% else %}
{{ field(class=class, autocomplete=autocomplete) }}
{% endif %}
<div class="invalid-feedback">{{ field.errors[0] }}</div>
{%- endmacro %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
        integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href={{ url_for('index') }}>PratiCijene</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-stretch" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% block navigation %}
                {% if session['account_type'] is defined %}
                {% include "components/navigation/" + session['account_type'] + ".html" %}
                {% endif %}
                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if session['account_type'] is none or session['account_type'] is not defined %}
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('auth.login') }}>Prijava</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('auth.register') }}>Registracija</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ session['username'] }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                        {% if session['account_type'] == 'admin' %}
                        <a class="dropdown-item" href="{{ url_for('accounts.admin_profile') }}">Profil</a>
                        {% elif session['account_type'] == 'user' %}
                        <a class="dropdown-item"
                            href="{{ url_for('accounts.user_profile', user_id=session['id']) }}">Profil</a>
                        {% elif session['account_type'] == 'seller' %}
                        <a class="dropdown-item"
                            href="{{ url_for('accounts.seller_profile', seller_id=session['id']) }}">Profil</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href={{ url_for('auth.logout') }}>Odjava</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
</body>

{% block scripts %}
{% endblock %}

</html>