<form class="form-inline mt-3 mb-1 mx-1 row" method="POST">
    {{ search_form.csrf_token }}

    {{ search_form.search_text(class="form-control col-sm mt-3 mx-3", placeholder="Pretraži") }}

    {% if search_form.search_type.choices %}
        <div class="col-sm-auto flat-right mt-3 mr-0.5">
            {{ field_with_check(search_form.search_type) }}
        </div>
    {% endif %}

    {{ search_form.submit(class="btn btn-secondary col-md-2 mt-3 mx-3") }}
</form>
