{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <form action={{ url_for('auth.login') }} method="POST" class="col-lg-6" novalidate>
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.username.label }}
      {{ field_with_check(form.username, "nickname") }}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      {{ field_with_check(form.password, "current-password") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Prijavi se">
  </form>
</div>
{% endblock %}