{% extends "base.html" %}

{% block content %}

<div class="row justify-content-around">
  <form method="POST" action={{ url_for('auth.register') }} class="col-lg-6">
    {{ form.csrf_token }}

    {% if form.type.errors %}
    <p class="text-danger">Potrebno je odabrati jednu od opcija.</p>
    {% endif %}

    {{ form.type.label }}
    {% for field in form.type %}
    <div class="form-group">
      <div class="custom-control custom-radio">
        {{ field(class="custom-control-input") }}
        {{ field.label(class="custom-control-label") }}
      </div>
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="Dalje">
  </form>
</div>

{% endblock %}