{% extends "base.html" %}

{% block content %}

<div class="row justify-content-around">
    <form action={{ url_for('auth.register_user') }} method="POST" class="col-lg-6" novalidate>
        {{ form.csrf_token }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.name.label }}
                {{ field_with_check(form.name, "given-name") }}
            </div>
            <div class="form-group col-md-6">
                {{ form.surname.label }}
                {{ field_with_check(form.surname, "family-name") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ field_with_check(form.email, "email") }}
        </div>
        <div class="form-group">
            {{ form.username.label }}
            {{ field_with_check(form.username, "nickname") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ field_with_check(form.password, "new-password") }}
        </div>
        <div class="form-group">
            {{ form.password_repeat.label }}
            {{ field_with_check(form.password_repeat, "new-password") }}
        </div>
        <input type="submit" class="btn btn-primary" value="Registriraj se">
    </form>
</div>
{% endblock %}