{% extends "base.html" %}

{% block content %}

<div class="row justify-content-around">
    <form action={{ url_for('auth.register_seller') }} method="POST" class="col-lg-6" novalidate>
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.oib.label }}
            {{ field_with_check(form.oib) }}
        </div>
        <div class="form-group">
            {{ form.name.label }}
            {{ field_with_check(form.name) }}
        </div>
        <div class="form-group">
            {{ form.username.label }}
            {{ field_with_check(form.username, "nickname") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ field_with_check(form.password, "new-password") }}
        </div>
        <div class="form-group">
            {{ form.password_repeat.label }}
            {{ field_with_check(form.password_repeat) }}
        </div>
        <input type="submit" class="btn btn-primary" value="Registriraj se">
    </form>
</div>
{% endblock %}